<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>data-science</title>

</head>

<body class="bk">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">PLACEMENT CELL</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div>
        <div class="container-sm w-50" style="background-color: aquamarine;">
            <h3 class="text-center" style="margin: 100px 0 30px 0; padding-top: 30px;">Student Placement</h3>
            <form action="/" method="POST">
                <div class="mb-3">
                    <label for="cgpa" class="form-label">CGPA</label>
                    <input type="text" class="form-control" id="cgpa" name="cgpa">

                </div>
                <div class="mb-3">
                    <label for="iq" class="form-label">IQ</label>
                    <input type="text" class="form-control" id="iq" name="iq">
                </div>
                <div class="mb-3">
                    <label for="ps" class="form-label">Profile Score</label>
                    <input type="text" class="form-control" id="ps" name="ps">
                </div>

                <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
            </form>
            <div class="mb-3 text-center" style="padding: 30px 0; font-size: 24px;"><b>{{value}}</b></div>
        </div>
    </div>

    <div class="mb-3 text-center" style="padding: 30px 0; font-size: 16px; color: rgb(92, 76, 107);"><em>Analysed by Ardhendu Shekhar</em></div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>